:root {
    --primary-color: #000000;
    --secondary-color: #fefefe;
  }

  body {
    font-family: 'Montserrat';
    margin: 0;
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .navbar {
    background-color: var(--primary-color);
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white !important;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navbar-brand img {
    width: 40px;
    height: 40px;
  }

  .nav-link {
    color: white !important;
    transition: color 0.3s ease;
  }

  .nav-link:hover {
    color: #FF5349 !important;
  }

  .hero-section {
    position: relative;
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, var(--primary-color) 50%, var(--secondary-color) 50%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    color: #FF5349;
  }

  .hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    animation: fadeIn 2s;
  }

  .hero-section p {
    font-size: 1.2rem;
    margin: 20px 0;
    animation: fadeIn 3s;
  }

  .btn-primary {
    background-color: white;
    border: none;
    color: var(--primary-color);
    font-weight: bold;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.1);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  /* ================================================================================================ */
  .service-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  .service-icon img {
    animation: float 3s ease-in-out infinite;
    width: 100px;
    height: 100px;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
